
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
.env
.gitignore
/migrations/
.env
public/produits/uploads/7a6e2c870a88887e02c5a580c9b1f6d5.jpg
public/produits/uploads/a45514797eebe785b1782f8afa875745.jpg
