body, html {
    height: 100%;
    position:relative;
}

a {
    text-decoration: none;
}

footer {
    /* background: #212529;
    position:sticky;
    bottom:0;
    left:0; */
    display:none;
}
  

.div-center {
    margin: 0 auto;
}

.security-forms {
    width:300px;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
}

.security-forms > h2 {
    text-align: center;
}

.to-show {
    display: none;
}

.is-visible {
    display: table-row;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}