{% extends "base.html.twig" %}

{% block body %}

    <style>
        body{
            background-image: url("../img/bg-animals.jpg");
            bacground-size: cover;
            position: relative;
            
        }
        .card{margin: 0 auto; float: none; margin-top: 12%; width: 50%}
        .card-img-wrapper{
            display: flex;
            justify-content: center;
            margin: auto;
            height: 100%;
            align-content: center;
        }
        .card-img{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            margin: auto;
            width: 50%;
        }
    </style>
    <div class="bg-img">
        <div class="card">
            <div class="card-header">
                <strong>Rentrez les numéros de votre carte bancaire</strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body card-block">
                        <div class="row form-group">
                            {{ form_start(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-img-wrapper">
                        <img class="card-img" src="https://www.badges25mm.fr/uploads/moyen_paiement/image/cb_3zet.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}